#div1 {
    width: 100%;
    height: 100px;
    background: linear-gradient(to right, #f869d5, #5650de);
    margin-bottom: 18px;
}

#div2 {
    width: 100px;
    height: 100px;
    background: linear-gradient(45deg, #f869d5, #5650de);
    margin-bottom: 18px;

}

#div3 {
    width: 100px;
    height: 100px;
    background: linear-gradient(180deg, #f869d5, #5650de)
}